body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    background-color: #FFF7F3;
}

.playwrite-us-modern-100{
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.roboto-100 {
font-optical-sizing: auto;
font-family: "Roboto", sans-serif;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}

header {
    text-align: center;
    background-color: #FAD0C4;
    margin-top: 0px;
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

header h1 {
    height: 100%;
    padding: 30px 30px 0px 30px;
    margin-top: 0px;
    font-family: "Playwrite US Modern", cursive;
}

nav {
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

header ul {
    list-style: none;
}

footer {
    background-color: #FAD0C4;
    font-size: 0.5rem;
}

/* ----- Featured Page Main Content ----- */

.featured-container{
    display: grid;
    grid-template-columns: 40% auto;
    gap: 10px;
    align-items: center;
    align-content: center;
}

@media (max-width: 768px) {
    .featured-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 10px;
    }
}

.playlist-info-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-info-container img {
    height: 250px;
    width: 250px;
}

.song-list {
    overflow-y: scroll;
    padding: 10px;
    height: 60%;
}

.song-card {
    width: 90%;
    background-color:  #FAD0C4;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20%;
    border-radius: 10px;
    padding: 10px;
}


.song-card img {
        height: 50px;
        width: 50px;
        margin-left: 10px; 
}

.song-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 10px;
}

.song-card ul li h4{
    padding: 0px;
    margin: 0px;
}

.song-card ul li p {
    padding: 0px;
    margin: 0px;
}

.song-card .time {
    flex-grow: 1;
    justify-content: end;
    display: flex;
    margin-right: 10px;
}


