body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    background-color: #FFF7F3;
}

.playwrite-us-modern-100{
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.roboto-100 {
font-optical-sizing: auto;
font-family: "Roboto", sans-serif;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}

header {
    text-align: center;
    background-color: #FAD0C4;
    margin-top: 0px;
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

header h1 {
    height: 100%;
    padding: 30px 30px 0px 30px;
    margin-top: 0px;
    font-family: "Playwrite US Modern", cursive;
}

nav {
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin: 0px 0px 10px 0px
}

header ul {
    list-style: none;
}

footer {
    background-color: #FAD0C4;
    font-size: 0.5rem;
}

/* ----- Card Grid ----- */
.playlist-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10vw;
    align-items:center;
    justify-items: center;
    margin-top: 10px;
    overflow-x: none;
}


/* ----- Playlist Card Layout ----- */
.playlist-card {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    border-color: #E6B2BA;
    background-color:  #FFF7F3;
    height: 275px;
    width: 175px;
}

.playlist-card img {
    height: 60%;
    object-fit: fill;
    border-radius: 10px;
    margin: 5px 5px 0px 5px;
}

.playlist-card .favorite {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    padding: 0px;
    gap: 1px
}

.playlist-card h2 {
    font-size: .9rem;
    padding: 0px;
    margin: 0px;
}

.playlist-card .favorite .heart:hover {
    fill: #DA4567;
    cursor: pointer;
}

.playlist-card .favorite .clicked {
    fill: #DA4567;
}

.playlist-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 10px
    
}


.playlist-card-info p {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    font-size: 0.7rem;
}

/* ----- Model ----- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.3);
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease;
}

/* ----- Model Content ----- */
.modal-content {
    max-height: 80vh;
    max-width: 60vw;
    width: 100vw;
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
}

.modal-header {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr 0.1fr;
    align-items: center;
    grid-gap: 20px;
    align-items:center;
    background-color:  #FAD0C4;
    padding: 10px;
    border-radius: 10px;
}

.modal-header img {
    width: 115px;
    height: 115px; 
    object-fit: cover;
    border-radius: 10px;
}

/* ----- Model Content - Song List ----- */
.song-list {
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-card {
    width: 95%;
    border: solid;
    border-color: #E6B2BA;
    background-color:  #FFF7F3;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20%;
    border-radius: 10px;
}

.song-card img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.song-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 10px;
}

.song-card ul li h4{
    padding: 0px;
    margin: 0px;
}

.song-card ul li p {
    padding: 0px;
    margin: 0px;
}

.song-card .time {
    flex-grow: 1;
    justify-content: end;
    display: flex;
    margin-right: 10px;
}

