body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    background-color: #FFF7F3;
}

.playwrite-us-modern-100{
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.roboto-100 {
font-optical-sizing: auto;
font-family: "Roboto", sans-serif;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}



/* ----- Card Grid ----- */

header {
    text-align: center;
    background-color: #FAD0C4;
    margin-top: 0px;
    height: 100%;
    position: sticky;
    top: 0;
}

header h1 {
    height: 100%;
    padding: 30px;
    margin-top: 0px;
    font-family: "Playwrite US Modern", cursive;
}

.playlist-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5vh;
    column-gap: 10vw;
    align-items:center;
    justify-items: center;
}


/* ----- Playlist Card Layout ----- */
.playlist-card {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    border-color: #E6B2BA;
    max-height: 40vh;
    max-width: 15vw;
    background-color:  #FFF7F3;
}

.playlist-card img {
    height: 60%;
    object-fit: fill;
    border-radius: 10px;
    margin: 5px 5px 0px 5px;
}

.playlist-card .favorite {
    flex-grow: 1;
    display: flex;
    justify-items: end;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    gap: 1px
}

.playlist-card h2 {
    font-size: 1rem
}

.playlist-card .favorite .heart:hover {
    fill: #DA4567;
    cursor: pointer;
}

.playlist-card .favorite .heart-clicked {
    fill: #DA4567;
}

.playlist-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 20px
    
}

.playlist-card-info h2 {
    padding: 0px;
    margin: 0px;
}

.playlist-card-info p {
    padding: 0px;
    margin: 5px 0px 0px 0px;

}
/* ----- Model ----- */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease;
}

/* ----- Model Content ----- */
.modal-content {
    max-height: 80vh;
    max-width: 60vw;
    width: 100vw;
    padding: 30px;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
    /* z-index: 100;
    visibility: visible; */
}

.modal-header {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr 0.1fr;
    align-items: center;
    grid-gap: 20px;
    align-items:center;
    justify-items: center;
}

.modal-header .exit-button-container {
    height: 100%;
    display: flex;
    justify-items: end;
}

.exit-button-container button {
    height: 20%;
}
.modal-header img {
    width: 115px;
    height: 115px; 
    object-fit: cover;
    border-radius: 10px;
}

/* ----- Model Content - Song List ----- */
.song-list {
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
}

.song-card {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20%
}

.song-card img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.song-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 10px;
}

.song-card ul li h4{
    padding: 0px;
    margin: 0px;
}

.song-card ul li p {
    padding: 0px;
    margin: 0px;
}

.song-card .time {
    flex-grow: 1;
    justify-content: end;
    display: flex;
    margin-right: 10px;
}

